@{
    var isAuthenticated = User.Identity != null && User.Identity.IsAuthenticated;
}

<header>
    <div class="header-background-color">
        <div class="container2">
            <div class="header-content">

                <div class="header-left">
                    <a asp-controller="Home" asp-action="Index">
                        <img class="core-logo" src="~/assets/images/logotype.svg" alt="CoreFitness Logo">
                    </a>
                </div>

                    <div class="header-center">
                        <nav class="header-navbar">
                            <a class="nav-link" asp-controller="FitnessCenters" asp-action="Index">Fitness Centers</a>
                            <a class="nav-link" asp-controller="Membership" asp-action="Index">Memberships</a>
                            <div class="nav-dropdown">
                                <button type="button" class="nav-link nav-dropdown-toggle" id="trainingToggle">
                                    Training
                                    <span class="dropdown-arrow">^</span>
                                </button>

                                <div class="nav-dropdown-menu" id="trainingMenu">
                                    <a asp-controller="Training" asp-action="PersonalTraining">Personal Training</a>
                                    <a asp-controller="Training" asp-action="GroupTraining">Group Training</a>
                                    <a asp-controller="Training" asp-action="Padel">Padel</a>
                                </div>
                            </div>
                            <a class="nav-link" asp-controller="Support" asp-action="Index">Customer Service</a>
                            <a class="nav-link" asp-controller="Store" asp-action="Index">Store</a>
                        </nav>
                    </div>

                    <div class="header-right">
                        @if (isAuthenticated)
                        {
                            <a asp-controller="Classes" asp-action="Index" class="header-text-right">
                                Our Classes
                            </a>

                            <a asp-controller="Profile" asp-action="Index" class="btn btn--primary">
                                <span class="btn__text">My Account</span>
                                <span class="btn__icon">›</span>
                            </a>
                        }
                        else
                        {
                            <a asp-controller="Account" asp-action="Signup" class="header-text-right">
                                Become a Member
                            </a>

                            <a asp-controller="Account" asp-action="Signin" class="btn btn--primary">
                                <span class="btn__text">Sign In</span>
                                <span class="btn__icon">›</span>
                            </a>
                        }
                    </div>

            </div>
        </div>
    </div>
</header>