@model CoreFitness2.Presentation.ViewModels.Account.SetPasswordViewModel

<section class="sign-up">
    <div class="container">
        <div class="sign-up-bg-color">
            <div class="sign-up-flex">
                <h1>Set Password</h1>
                <p>Set a strong password to protect your account. For security reasons, your password must be at least 8 characters long and include uppercase and lowercase letters, numbers, and special characters.</p>
                <div class="card__divider3"></div>
                <form asp-action="SetPassword" method="post" class="form">
                    @Html.AntiForgeryToken()

                    <!-- Email skickas vidare -->
                    <input asp-for="Email" type="hidden" />

                    <div class="field">
                        <label>Email *</label>
                        <input value="@Model.Email" readonly />
                    </div>

                    <div class="field">
                        <label asp-for="Password">Password *</label>
                        <input asp-for="Password" type="password" />
                        <span asp-validation-for="Password"></span>
                    </div>

                    <div class="field">
                        <label asp-for="ConfirmPassword">Confirm Password *</label>
                        <input asp-for="ConfirmPassword" type="password" />
                        <span asp-validation-for="ConfirmPassword"></span>
                    </div>
                    <div class="sign-up-lower">
                        <button class="btn btn--primary btn--full" type="submit">
                            <div class="continue-btn">Continue</div> <span class="btn-chev" aria-hidden="true">›</span>
                        </button>

                        <label class="check">
                            <input type="checkbox" name="terms">
                            <span class="check__box" aria-hidden="true"></span>
                            <span class="check__text">Accept user terms and conditions</span>
                        </label>
                    </div>
                    
                </form>
                
            </div>
        </div>
    </div>
</section>
