@model CoreFitness2.Presentation.ViewModels.Account.SignUpViewModel

<section class="sign-up">
    <div class="container">
        <div class="sign-up-bg-color">
            <div class="sign-up-flex">
                <h1>Become a Member</h1>
                <p>Sign up to continue your fitness journey with full access to your customized program, training history, and progress tracking. Stay consistent, monitor your development, and keep moving forward with the structure and support built into your account.</p>
                <div class="card__divider"></div>
                <div class="sign-up-links">
                    @if (Model.ExternalProviders.Any())
                    {
                        <form asp-controller="Account" asp-action="ExternalLogin" method="post">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />

                            @foreach (var provider in Model.ExternalProviders)
                            {
                                <partial name="ExternalProviders/_@(provider)Button" />
                            }
                        </form>
                    }
                </div>
                <div class="card__divider divider-text">
                    <span>OR CONTINUE WITH</span>
                </div>
                <form asp-action="Signup" method="post" class="form">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="field">
                        <label asp-for="Email">Email Address *</label>
                        <input asp-for="Email" placeholder="Enter Email Address" />
                        <span asp-validation-for="Email"></span>
                    </div>

                    <div class="sign-up-lower">
                        <button class="btn btn--primary btn--full" type="submit">
                            <div class="continue-btn">Continue</div>
                            <span class="btn-chev" aria-hidden="true">›</span>
                        </button>
                        <div class="check__text2">We will send a verification code to your email address.</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>