@model CoreFitness2.Presentation.ViewModels.Account.SignInViewModel

<section class="sign-in">
    <div class="container">

        @if (TempData["ErrorMessage"] is string error)
        {
            <div class="text-danger">
                <p>@error</p>
            </div>
        }

        <div class="sign-up-bg-color">
            <div class="sign-up-flex">
                <h1>Welcome Back!</h1>
                <p>
                    Log in to continue your fitness journey with full access to your customized program, training history, and progress tracking. Stay consistent, monitor your development, and keep moving forward with the structure and support built into your account.
                </p>

                <div class="card__divider"></div>

                <div class="sign-up-links">

                    @if (Model.ExternalProviders.Any())
                    {
                        <form asp-controller="Account" asp-action="ExternalLogin" method="post">
                             @Html.AntiForgeryToken()
                            <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />

                            @foreach (var provider in Model.ExternalProviders)
                            {
                                    <partial name="ExternalProviders/_@(provider)Button" />
                            }
                        </form>
                    }
                    
                </div>

                <div class="card__divider divider-text">
                    <span>OR CONTINUE WITH</span>
                </div>

                <form asp-action="SignIn" method="post" class="form">
                    @Html.AntiForgeryToken()

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="field">
                        <label asp-for="Email">Email Address *</label>
                        <input asp-for="Email" placeholder="Enter Email Address" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="field">
                        <label asp-for="Password">Password *</label>
                        <input asp-for="Password" type="password" placeholder="Enter Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="sign-up-lower">
                        <button class="btn btn--primary btn--full" type="submit">
                            <div class="continue-btn">Continue</div>
                            <span class="btn-chev" aria-hidden="true">›</span>
                        </button>

                        <label class="check">
                            <input type="checkbox" name="terms">
                            <span class="check__box" aria-hidden="true"></span>
                            <span class="check__text">Accept user terms and conditions</span>
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>