@model CoreFitness2.Presentation.ViewModels.Account.SignUpViewModel

<section class="sign-up">
    <div class="container">
        <div class="sign-up-bg-color">
            <div class="sign-up-flex">
                <h1>Become a Member</h1>
                <p>Sign up to continue your fitness journey with full access to your customized program, training history, and progress tracking. Stay consistent, monitor your development, and keep moving forward with the structure and support built into your account.</p>
                <div class="card__divider"></div>
                <div class="sign-up-links">
                    <button class="social-btn" type="button">
                        <img src="/assets/images/google.svg" alt="">
                    </button>
                    <button class="social-btn" type="button">
                        <img src="/assets/images/facebook.svg" alt="">
                    </button>
                    <button class="social-btn" type="button">
                        <img src="/assets/images/github.svg" alt="">
                    </button>
                </div>
                <div class="card__divider divider-text">
                    <span>OR CONTINUE WITH</span>
                </div>
                <form asp-action="Signup" method="post" class="form">
                    @Html.AntiForgeryToken()

                    <div class="field">
                        <label asp-for="Email">Email Address</label>
                        <input asp-for="Email" placeholder="Enter Email Address" />
                        <span asp-validation-for="Email"></span>
                    </div>

                    <div class="sign-up-lower">
                        <button type="submit" class="btn btn--primary btn--full">
                            Continue →
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>