@model IEnumerable<GymClassDto>

@{
    ViewData["Title"] = "Classes";
}

<div class="container2">
    
    <h1>Available Classes</h1>
    <div class="Classes-flex">
        @if (!Model.Any())
        {
            <p>No classes available right now.</p>
        }
        else
        {
            <div class="classes-list">
                @foreach (var gymClass in Model)
                {
                    <partial name="_GymClassCard" model="gymClass" />
                }
            </div>
        }
    </div>
</div>