<div class="membership-card-content3">
    <h3>Get Your Membership</h3>
    <p>Our memberships give you access to all equipment, personalized training.</p>
    <div class="membership-underline2"></div>
    <h4>Call Us At: +(46) 8 410 521 00</h4>

    <button class="btn btn--primary" type="button">
        <span class="btn__text">Call Us Today!</span>
        <span class="btn__icon" aria-hidden="true">›</span>
    </button>

    <img class="membership-image" src="~/assets/images/membership-card3-image.svg" alt="">
</div>