<div class="member-trial">
    <div class="member-trial-content">
        <span><img src="~/assets/images/check-calendar.svg" alt=""></span>
        <span><p>Get 30 day free trial</p></span>
    </div>
    <div class="member-trial-content">
        <span><img src="~/assets/images/calendar.svg" alt=""></span>
        <span><p>No any hidden fees pay</p></span>
    </div>
    <div class="member-trial-content">
        <span><img src="~/assets/images/clock.svg" alt=""></span>
        <span><p>You can cancel anytime</p></span>
    </div>
</div>