
<section class="not-found">
    <div class="container">
        <div class="notfound-content">
            <img src="/assets/images/404-error-img 1.svg" alt="notfound image">
            <h1>Oops! page not found</h1>
            <p>The page you are looking for does not exists.</p>
            <a asp-controller="Home" asp-action="Index" class="btn btn--primary">
                <span class="btn__text">Sign In</span>
                <span class="btn__icon">›</span>
            </a>
        </div>
    </div>

</section>