<section class="Statistics section">
    <div class="container">
        <h2 class="card__title-lower">My Statistics</h2>
        <div class="about-bg-color">
            <div class="stats">

                <div class="stat">
                    <div class="stat__top">
                        <span class="stat__label">Check-In (last 30 days)</span>
                        <span class="stat__value">25</span>
                    </div>
                    <div class="bar"><div class="bar__fill" style="width: 95%"></div></div>
                </div>

                <div class="stat">
                    <div class="stat__top">
                        <span class="stat__label">Weight Goal</span>
                        <span class="stat__value">50%</span>
                    </div>
                    <div class="bar"><div class="bar__fill" style="width: 50%"></div></div>
                </div>

                <div class="stat">
                    <div class="stat__top">
                        <span class="stat__label">Current BMI</span>
                        <span class="stat__value">27</span>
                    </div>
                    <div class="bar"><div class="bar__fill" style="width: 65%"></div></div>
                </div>

            </div>
        </div>
    </div>
</section>