<section class="hero">
    <div class="hero-upper-underline">
        <div class="hero-background-color">
            <div class="container">
                <div class="hero-content">
                    <div class="hero-left">
                        <ul class="ul-li-style"><li>Strong Body, Strong mind.</li></ul>
                        <h1>Build Strength Boost Confidence Today!</h1>
                        <p>Begin your fitness journey with expert trainers, modern equipment, and a supportive environment designed to help you build strength and confidence.</p>
                        <div class="hero-left-lower">
                            <div class="hero-left-lower1">
                                <span class="material-symbols-outlined">check_circle</span>
                                <span>Transform your body with training</span>
                                <span class="material-symbols-outlined">check_circle</span>
                                <span>Personal training for real results</span>
                            </div>
                            <div class="hero-left-lower2">
                                <span class="material-symbols-outlined">check_circle</span>
                                <span>Build confidence through fitness</span>
                                <div class="fitness-hero-lower">
                                    <span class="material-symbols-outlined">check_circle</span>
                                    <span>Fitness tailored to your goals</span>
                                </div>
                            </div>
                            <div class="underline"></div>
                        </div>
                        <a asp-controller="Account" asp-action="Signup" class="btn btn--primary">
                            <span class="btn__text">Get Started</span>
                            <span class="btn__icon">›</span>
                        </a>
                    </div>
                    <div class="hero-right">
                        <img src="/assets/images/hero-right.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>