<section class="brands">
    <div class="brands-bg-color">
        <div class="container2">
            <div class="brands-content">
                <div class="brands-left">
                    <img src="/assets/images/brands-logo-1.svg" alt="Logoipsum brand">
                    <img src="/assets/images/brands-logo-2.svg" alt="Logoipsum brand">
                    <img src="/assets/images/brands-logo-3.svg" alt="Logoipsum brand">
                    <img src="/assets/images/brands-logo-4.svg" alt="Logoipsum brand">
                    <img src="/assets/images/brands-logo-5.svg" alt="Logoipsum brand">
                </div>
                <h3 class="brands-text">Modern Equipment</h3>
            </div>
        </div>
    </div>
</section>