<section class="faq">
    <div class="container">
        <div class="faq-grid">
            <div class="faq-left">
                <img src="/assets/images/faqs-image 1.svg" alt="Gym image">
            </div>
            <div class="faq-right">
                <ul class="ul-li-style"><li>Frequently Asked Questions</li></ul>
                <h3 class="h3-48px">Common questions about gym and training</h3>
                <div class="accordion" id="faq-accordion">
                    <div class="accordion-item">
                        <h3 class="accordion-header">
                                        
                            <button class="accordion-toggle"
                                    aria-expanded="false"
                                    aria-controls="faq1"
                                    id="faq1-header">
                                Q1. Do I need prior gym experience to Join CoreFitness?
                                <span class="chev" aria-hidden="true"></span>
                            </button>
                                        
                        </h3>
                        <div id="faq1" class="accordion-panel" role="region"
                             aria-labelledby="faq1-header" hidden>
                            <p>
                                Nunc duis id aenean gravida tincidunt eu, tempor ullamcorper. Viverra aliquam arcu, viverra et, cursus. Aliquet pretium cursus adipiscing gravida et consequat lobortis arcu velit. Nibh pharetra fermentum duis accumsan lectus non. Massa cursus molestie lorem scelerisque pellentesque. Nisi, enim, arcu purus gravida adipiscing euismod montes, duis egestas. Vehicula eu etiam quam tristique tincidunt suspendisse ut consequat.
                            </p>
                            <p>
                                Ornare senectus fusce dignissim ut. Integer consequat in eu tortor, faucibus et lacinia posuere. Turpis sit viverra lorem suspendisse lacus aliquam auctor vulputate. Quis egestas aliquam nunc purus lacus, elit leo elit facilisi. Dignissim amet adipiscing massa integer.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3 class="accordion-header">
                            <button class="accordion-toggle"
                                    aria-expanded="false"
                                    aria-controls="faq2"
                                    id="faq2-header">
                                Q2. What facilities are included with the membership?
                                <span class="chev" aria-hidden="true"></span>
                            </button>
                        </h3>
                        <div id="faq2" class="accordion-panel" role="region"
                             aria-labelledby="faq2-header" hidden>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda id eaque porro sunt quod, fuga totam aut iure! Eveniet, saepe.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3 class="accordion-header">
                            <button class="accordion-toggle"
                                    aria-expanded="false"
                                    aria-controls="faq3"
                                    id="faq3-header">
                                Q3. Can I try them gym before taking a membership?
                                <span class="chev" aria-hidden="true"></span>
                            </button>
                        </h3>
                        <div id="faq3" class="accordion-panel" role="region"
                             aria-labelledby="faq3-header" hidden>
                            <p>
                                Nunc duis id aenean gravida tincidunt eu, tempor ullamcorper. Viverra aliquam arcu, viverra et, cursus. Aliquet pretium cursus adipiscing gravida et consequat lobortis arcu velit. Nibh pharetra fermentum duis accumsan lectus non. Massa cursus molestie lorem scelerisque pellentesque. Nisi, enim, arcu purus gravida adipiscing euismod montes, duis egestas. Vehicula eu etiam quam tristique tincidunt suspendisse ut consequat.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3 class="accordion-header">
                            <button class="accordion-toggle"
                                    aria-expanded="false"
                                    aria-controls="faq4"
                                    id="faq4-header">
                                Q4. Are there group workout programs available?
                                <span class="chev" aria-hidden="true"></span>
                            </button>
                        </h3>
                        <div id="faq4" class="accordion-panel" role="region"
                             aria-labelledby="faq4-header" hidden>
                            <p>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero dolorem aut nemo saepe iusto aliquid!
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3 class="accordion-header">
                            <button class="accordion-toggle"
                                    aria-expanded="false"
                                    aria-controls="faq5"
                                    id="faq5-header">
                                Q5. Is nutrition guidance included in the plans?
                                <span class="chev" aria-hidden="true"></span>
                            </button>
                        </h3>
                        <div id="faq5" class="accordion-panel" role="region"
                             aria-labelledby="faq5-header" hidden>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi sunt aperiam ab.
                            </p>
                        </div>
                    </div>
                                
                </div>
            </div>
                                                           
        </div>
    </div>
</section>