<footer>
    
    <div class="footer-bg-color">
        
        <div class="container">
            
            <div class="footer-content">
                <div class="footer-upper">
                    <a href="">
                        <img src="/assets/images/logotype.svg" alt="CoreFitness Logo">
                    </a>
                    <h2>Empowering Your Fitness Journey with Expert Training and Lasting Results</h2>
                </div>
                <div class="underline"></div>
                <div class="footer-center">
                    <div class="footer-center-left">
                        <h3>Our Location</h3>
                        <p>Our supportive and knowledgeable trainers work with members to provide encouragement.</p>
                        <img class="location-image" src="/assets/images/footer-location-map 1.svg" alt="Location Map">
                        <address>2nd Floor, Wellness Center, Drottninggatan 118, Stockholm</address>

                    </div>
                    <div class="footer-center-right">
                        <div class="footer-center-working">
                            <h3>Working Hours</h3>
                            <p>Mon - Fri: 6:00 - 18:00</p>
                            <p>Saturday: 10:00 - 18:00</p>
                        </div>
                        <div class="footer-center-opening">
                            <h3>Opening Hours</h3>
                            <p class="opening-text">Mon - Sun: 0400 - 23:00</p>
                        </div>
                    </div>
                </div>
                <div class="underline"></div>
                <div class="footer-lower">
                    <p>&copy; 2026 Core Fitness Group. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>

